#* @vtlvariable name="action" type="com.atlassian.plugin.action.MainAction" *#
##<p>Hello, World!</p>

<html>
<head>
    $webResourceManager.requireResource("com.atlassian.plugin.gantt:newGanttPlugin-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-header")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-sidebar")
##        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1.min.js"></script>
##        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.5/css/dx.common.css" />
##        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.5/css/dx.light.css" />
##        <script src="https://cdn3.devexpress.com/jslib/20.2.5/js/dx.all.js"></script>

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx-gantt.min.css">
    <script src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx-gantt.min.js"></script>
    <!-- ... -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.all.js"></script>



    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.web.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.viz.js"></script> -->
        <meta name="decorator" content="atl.general"/>
        <meta charset="UTF-8">
        <title>Gantt Action</title>
</head>
    <body
    class="dx-viewport">
    <h1>It works!</h1>
    <div onclick="javascript:aaa()">hello</div>
    <div class="demo-container">
        <div id="gantt">

        </div>
    </div>
    <script>
        function aaa() {
            console.log(1);}

        let tasks = [{
            'id': 1,
            'parentId': 0,
            'title': 'Software Development',
            'start': new Date('2019-02-21T05:00:00.000Z'),
            'end': new Date('2019-07-04T12:00:00.000Z'),
            'progress': 31
        }, {
            'id': 2,
            'parentId': 1,
            'title': 'Scope',
            'start': new Date('2019-02-21T05:00:00.000Z'),
            'end': new Date('2019-02-26T09:00:00.000Z'),
            'progress': 60
        }, {
            'id': 3,
            'parentId': 2,
            'title': 'Determine project scope',
            'start': new Date('2019-02-21T05:00:00.000Z'),
            'end': new Date('2019-02-21T09:00:00.000Z'),
            'progress': 100
        }, {
            'id': 4,
            'parentId': 2,
            'title': 'Secure project sponsorship',
            'start': new Date('2019-02-21T10:00:00.000Z'),
            'end': new Date('2019-02-22T09:00:00.000Z'),
            'progress': 100
        }, {
            'id': 5,
            'parentId': 2,
            'title': 'Define preliminary resources',
            'start': new Date('2019-02-22T10:00:00.000Z'),
            'end': new Date('2019-02-25T09:00:00.000Z'),
            'progress': 60
        }
];

        var dependencies = [{
            "id": 1,
            "predecessorId": 3,
            "successorId": 4,
            "type": 0
        }, {
            "id": 2,
            "predecessorId": 4,
            "successorId": 5,
            "type": 0
        }, {
            "id": 3,
            "predecessorId": 5,
            "successorId": 6,
            "type": 0
        }, {
            "id": 4,
            "predecessorId": 6,
            "successorId": 7,
            "type": 0
        }, {
            "id": 5,
            "predecessorId": 7,
            "successorId": 9,
            "type": 0
        }];

        var resources = [{
            'id': 1,
            'text': 'Management'
        }, {
            'id': 2,
            'text': 'Project Manager'
        }, {
            'id': 3,
            'text': 'Analyst'
        }, {
            'id': 4,
            'text': 'Developer'
        }, {
            'id': 5,
            'text': 'Testers'
        }];
        $(function() {
            $('#gantt').dxGantt({
                tasks: {
                    dataSource: tasks
                },
                dependencies: {
                    dataSource: dependencies
                },
                resources: {
                    dataSource: resources
                },
                editing: {
                    enabled: true
                },
                validation: {
                    autoUpdateParentTasks: true
                },
                toolbar: {
                    items: [
                        "undo",
                        "redo",
                        "separator",
                        "collapseAll",
                        "expandAll",
                        "separator",
                        "addTask",
                        "deleteTask",
                        "separator",
                        "zoomIn",
                        "zoomOut"
                    ]
                },
                columns: [{
                    dataField: "title",
                    caption: "Subject",
                    width: 300
                }, {
                    dataField: "start",
                    caption: "Start Date"
                }, {
                    dataField: "end",
                    caption: "End Date"
                }],
                scaleType: "weeks",
                taskListWidth: 500
            });
        });
    </script>
    </body>
<section id="content" role="main">
    <!-- AUI Sidebar -->
    #parse("/templates/SideBar.vm")

</section>
</html>