#* @vtlvariable name="action" type="com.atlassian.plugin.action.GanttAction" *#

<html>
<head>
    $webResourceManager.requireResource("com.atlassian.plugin.gantt:newGanttPlugin-resources")
    $webResourceManager.requireResource("com.atlassian.plugin.newGanttPlugin:newGanttPlugin-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-header")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-sidebar")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-button")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
    #set($baseurl = $settingsManager.getGlobalSettings().getBaseUrl())
    #set($name = $action.getName())

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx-gantt.min.css">
    <script src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx-gantt.min.js"></script>
    <!-- ... -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.all.js"></script>
</head>
<body class="dx-viewport">
##<section id="content" role="main">
##    <!-- AUI Sidebar -->
##    ##    #parse("/templates/Sidebar.vm")
##</section>
##<div class="dx-viewport demo-container">
##    <div class="options">
##        <div class="caption">Options</div>
##        <div class="option">
##            <div id="preventContextMenuShowing"></div>
##        </div>
##        <div class="option">
##            <div id="customizeContextMenu"></div>
##        </div>
##    </div>
##    <div id="gantt"></div>
##    <div>
##        <button onclick="window.location.href='http://localhost:2990/jira/secure/newGanttPlugin1!default.jspa';">Вернуться к списку проектов</button>
##        <div id="gantt"></div>
##    </div>
##</div>

<div class="dx-viewport demo-container">
    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <div>Scale Type</div>
            <div id="scaleType"></div>
        </div>
        <div class="option">
            <div>Title Position</div>
            <div id="titlePosition"></div>
        </div>
        <div class="option">
            <div>Status Position</div>
            <div id="statusPosition"></div>
        </div>
        <div class="option">
            <div>Author Position</div>
            <div id="authorPosition"></div>
        </div>
        <div class="option">
            <div id="showResources"></div>
        </div>
        <div class="option">
            <div id="customizeTaskTooltip"></div>
        </div>
    </div>
    <div class="aui-button">
        <div onclick="window.location.href='http://localhost:2990/jira/secure/newGanttPlugin3!default.jspa';">Вернуться к списку задач</div>
    </div>
    <div id="gantt"></div>
</div>

</body>
</html>