#* @vtlvariable name="action" type="com.atlassian.plugin.action.ProjectAction" *#

$webResourceManager.requireResource("com.atlassian.plugin.newGanttPlugin:newGanttPlugin-resources")
$webResourceManager.requireResource("com.atlassian.plugin.gantt:newGanttPlugin-resources")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-header")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-sidebar")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-iconfont")
#set($baseurl = $settingsManager.getGlobalSettings().getBaseUrl())
#set($name = $action.getName())

<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx-gantt.min.css">
<script src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx-gantt.min.js"></script>
<!-- ... -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- DevExtreme themes -->
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.common.css">
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.7/css/dx.light.css">

<!-- DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.7/js/dx.all.js"></script>

<script>
    getAllProjects()
</script>

    <section id="content" role="main">
        <!-- AUI Sidebar -->
        #parse("/templates/Sidebar.vm")
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <div class="text-main-page">
                        <h2>Мои проекты</h2>
                        <div class="dx-viewport demo-container">
                            <div id="gridContainer-projects"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </section>
