<div class="aui-sidebar">
    <div class="aui-sidebar-wrapper">
        <div class="aui-sidebar-body">
            <!-- AUI Navigation -->
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner">
                    <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                        <ul class="aui-nav" title="Page actions">
                            <li>
                                <a class="aui-nav-item" href="$baseurl/secure/newGanttPlugin!default.jspa" title="Главная страница">
                                    <span class="aui-icon aui-icon-small aui-iconfont-home-filled"></span>
                                    <span class="aui-nav-item-label">Главная</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                        <div class="aui-nav-heading" title="Projects"><strong>Меню</strong></div>
                        <ul class="aui-nav" title="Page actions">
##                            <li>
##                                <a class="aui-nav-item" href="$baseurl/secure/newGanttPlugin!default.jspa" title="Тут можно найти книгу">
##                                    <span class="aui-icon aui-icon-small aui-iconfont-backlog"></span>
##                                    <span class="aui-nav-item-label">Каталог</span>
##                                </a>
##                            </li>
                            <li>
                                <a class="aui-nav-item" href="$baseurl/secure/newGanttPlugin1!default.jspa" title="Выберите проект">
                                    <span class="aui-icon aui-icon-small aui-iconfont-info-circle"></span>
                                    <span class="aui-nav-item-label">Мои проекты</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="aui-sidebar-footer">
            <a href="https://example.com" class="aui-button aui-button-subtle aui-sidebar-settings-button" title="Settings">
                <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
                <span class="aui-button-label">Settings</span>
            </a>
            <button class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
                <span class="aui-icon aui-icon-small aui-iconfont-chevron-double-left"></span>
            </button>
        </div>
    </div>
</div><!-- end AUI Sidebar -->